@use 'abstracts' as a;

.App {
  text-align: center;

  .App-header {
    background-color: #fff;
    border: 1px solid a.$secondary-color;
    height: 150px;
    padding: 20px;

    h1 {
      color: a.$primary-color;
    }

    h2 {
      color: a.$secondary-color;
    }
  }
}
